*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 12%, 8%);
    min-height: 100vh;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Desktop version---------- */

.rat-state-start, .thank-y-state-start{
    max-width: 100%;
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom, hsl(213, 20%, 18%),hsl(213, 22%, 10%));
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5em;
}

.attribution{
    padding-top: 1em;
    text-align: center;
}

.attribution a{
    text-decoration: none;
    color: hsl(25, 97%, 53%);
}
.rat-state-start .img-start-container{
    width: 50px;
    height: 50px;
    background-color:hsla(216, 12%, 54%, 0.105);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rat-state-start h1{
   font-weight: 700;
}

.rat-state-start p{
    font-weight: 700;
    color: hsl(217, 12%, 63%);
}

.rat-state-start .feedback-container-value{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rat-state-start .feedback-container-value span{
    width: 50px;
    height: 50px;
    background-color:hsla(216, 12%, 54%, 0.105);
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

.rat-state-start .feedback-container-value span:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    transition: 400ms;
    cursor: pointer;
}

.rat-state-start button.submit-feed-val{
    height: 50px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 3px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 400ms;
}

.rat-state-start button.submit-feed-val:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: 400ms;
}

.thank-y-state-start{
    align-items: center;
}

/* Game of displaying ----  */

.hide{
    display: none;
}

.thank-y-state-start div.img-state-start img{
    width: 100%;
}

.thank-y-state-start .p-rating-container{
    text-align: center;
    background-color:hsla(216, 12%, 54%, 0.105);
    border-radius: 20px;
    color:rgba(255, 166, 0, 0.918);
    padding: .5em 0;
    width: 60%;
} 

.thank-y-state-start .thank-y{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.8em;
}

.thank-y-state-start p:not(.p-rating-container,.thank-y){
    text-align: center;
    color: hsl(217, 12%, 63%);
    font-weight: 700;
}


/* Mobile version---------- */

@media all and (max-width:408px) {
    .rat-state-start, .thank-y-state-start{
       width: 100%;
       margin: 0 1em;
    }
}