/* font-family: 'Josefin Sans', sans-serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html{
    font-size: 16px;
}

body{
    min-height: 100vh;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon-contaier{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
}

.left-part-coming-soon{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 65px 165px;
    background: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left-part-coming-soon img.first{
    width: 150px;
}

.left-part-coming-soon h1{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.left-part-coming-soon h1 span{
    color: hsl(0, 36%, 70%);
    font-weight: 100;
}

.coming-soon-contaier p.description{
    max-width: 400px;
    font-size:1rem;
    color: hsl(0, 36%, 70%);
    line-height: 25px;
}

.check-mail{
    max-width:  100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.check-mail .btn-and-error-ctn{
    position: absolute;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.check-mail input{
    width: 100%;
    height: 55px;
    border-radius: 30px;
    border: solid hsla(0, 18%, 46%, 0.2) 2px;
    padding-left: 35px;
    transition: 400ms;
}

 .check-mail button{
    width: 100px;
    height: 57px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 7px 7px 20px 5px hsla(0, 80%, 86%, 0.118);
    cursor: pointer;
    transition: 400ms;
}

.check-mail button.btn-error{
    background: linear-gradient(135deg,hsl(0, 100%, 98%),hsl(0, 80%, 86%));
    transition: 400ms;
}

.check-mail input.ipt-error{
    border: solid  hsl(0, 92%, 59%) 2px;
    transition: 400ms;
}

.check-mail img.frst{
    pointer-events: none;
    opacity: 0;
    transition: 400ms;
 }

 .check-mail img.frst.error{
    pointer-events: initial;
    opacity: 1;
    transition: 400ms;
 } 

.check-mail input, .check-mail button{
    outline: none;
}

.left-part-coming-soon p.last{
    width: 100%;
    padding-top: 10px;
    padding-left: 40px;
    font-size: .9rem;
    color: hsl(0, 92%, 59%);
    pointer-events: none;
    opacity: 0;
    transition: 400ms;
}

.left-part-coming-soon p.last.visible{
    pointer-events: initial;
    opacity: 1;
    transition: 400ms;
}

.right-part-coming-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-height: 100vh;
}

.right-part-coming-soon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-foot{
    width: 100%;
}

footer{
    width: 100%;
    bottom: 10px;
}

footer p{
    width: 100%;
    text-align: center;
}

footer p a{
    text-decoration: none;
    color: hsl(0, 74%, 74%);
}

.coming-soon-contaier .jFm-img{
    display: none;
}


@media (max-width:1000px){
    .coming-soon-contaier p.description{
        max-width:400px;
    }

    .left-part-coming-soon{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px 50px;
    }

    .left-part-coming-soon h1{
        font-size: 3rem;
        letter-spacing: 15px;
    }

    .check-mail .btn-and-error-ctn{
        gap: 10px;
    }

    .right-part-coming-soon{
        width: 55%;
    }
}

@media (max-width:660px){
    header{
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 32px 0 32px 32px;
    }
    .coming-soon-contaier{
        flex-direction: column;
        justify-content: space-between;
    }
    .left-part-coming-soon{
        width: 100%;
        min-height: 100vh;
        padding: 0;
        background-image: none;
        background: linear-gradient(135deg,hsl(0, 0%, 100%)30%, hsl(0, 100%, 98%));
        align-items: center;
        justify-content: flex-start;
    }
    
    .left-part-coming-soon h1{
        margin-top: 66px;
        font-size: 2rem;
        letter-spacing: 15px;
        text-align: center;
    }

    .coming-soon-contaier p.description{
        margin: 30px 20px;
        max-width: 400px;
        text-align: center;
        font-size: 1rem;
        line-height: 25px;
    }

    .coming-soon-contaier .jFm-img{
        display: flex;
        width: 100%;
        object-fit: contain;
    }

    .check-mail{
        width:  100%;
    }

    .check-mail .btn-and-error-ctn{
        gap: 20px;
    }

    .form-foot{
        width: 80%;
    }

    footer{
        width: 100%;
        bottom: 10px;
        position: absolute;
        bottom: 10px;
    }

    .right-part-coming-soon{
        display: none;
    }
}

