/* font-family: 'Libre Franklin', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

html{
    font-size: 20px;
}

body{
    width: 100%;
    min-height: 100vh;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header h1{
    font-size: 2rem;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    width: 100%;
    text-align: center;
}

.header h1>span{
    font-weight: 700;
    color:hsl(209, 33%, 12%);
}

.header h2{
    font-size: .9rem;
    font-weight: 500;
    color:hsl(210, 100%, 2%);
}

.header form{
    display: flex;
    flex-direction: column;
}

form div{
    display: flex;
    gap: 12px;
}

form input{
    height: 60px;
    outline: none;
    border-radius: 50px;
}

form p{
    color: hsl(354, 100%, 66%);
    font-style: italic;
    font-size: .7rem;
    margin-left: 30px;
    opacity: 0;
    transition: 400ms;
}

p.mobile-error{
    margin-left: 0px;
    display: none;
}

form p.error-p{
    opacity: 1;
    transition: 400ms;
}

input[type="text"]{
    width: 420px;
    padding-left: 30px;
    border: solid 1px hsl(223, 100%, 88%);
    color: hsl(210, 100%, 2%);
    transition: 400ms;
}

input[type="text"].error-i{
    border-color: hsl(354, 100%, 66%);
    transition: 400ms;
}

input[type="submit"]{
    width: 200px;
    height: 55px;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(223, 87%, 63%);
    font-size: .7rem;
    cursor: pointer;
    box-shadow: 0 7px 5px 3px hsla(223, 100%, 88%, 0.346);
}

.img-body{
    width: 645px;
    height: 395px;
}

.img-body img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer div.logo-ctn{
    display: flex;
    gap: 12px;
}

.logo-ctn div{
    border: solid 1px hsla(0, 0%, 59%, 0.6);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}

.logo-ctn div:hover{
    background-color: hsl(223, 87%, 63%);
    transition: 400ms;
}

.logo-ctn div i{
    color: hsl(223, 87%, 63%);
    transition: 400ms;
}

.logo-ctn div:hover i{
    color: hsl(0, 0%, 100%);
    transition: 400ms;
}

.footer p{
    font-size: .7rem;
    color: hsl(0, 0%, 59%);
}

footer p{
    text-align: center;
    font-size: .7rem;
    color: hsl(0, 0%, 59%);
}

footer p a{
    text-decoration: none;
    color: hsl(223, 87%, 63%);
}

@media(max-width:662px){
    .header form{
        width: 100%;
    }

    form div{
        width: 100%;
    }

    form input[type="text"]{
        width: 70%;
    }

    form input[type="submit"]{
        width: 30%;
    }

    form p:not(.mobile-error){
        max-width: 70%;
    }

    .img-body{
        width: 97%;
        height: auto;
    }
}

@media (max-width:500px) {
    .header{
        margin-bottom: 30px;
    }
    .header h1{
        font-size: 1.8rem;
    }
    form div{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    form input[type="text"]{
        width: 97%;
    }

    form input[type="submit"]{
        width: 97%;
        margin-top: 40px;
    }

    p.desktop-error{
        display: none;
    }

    p.mobile-error{
        display: block;
        text-align: center;
    }
}