/* font-family: 'Grandstander', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */

/* 

---Dark mode---

Couleur d'arrière-plan : #1c1e21
Couleur de texte principal : #d7dadc
Couleur de texte secondaire : #8e8f91
Couleur d'accentuation : #00c2a5 

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html{
    font-size: 16px;
    color: #ffffffe1;
}

.our__container__of__getGPT{
    width: 100%;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color:  #21272e;
    font-size: .65rem;
}
.getGPT__left__nav__part, .getGPT__right__bodyCenter__part{
    height: 100%;
}

.getGPT__left__nav__part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    padding: .4rem;
    background-color:  #111214;
   z-index: 20;
}
.getGPT__create__chat {
    list-style: none;
    width: 100%;
}
.getGPT__create__chat li{
    width: 100%;
    border: solid rgba(255, 255, 255, 0.286) 0.1px;
    background-color:#1c1e2100 ;
    font-size: .65rem;
    padding: 8px;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;

}
.getGPT__create__chat li i{
    padding: 0 1rem 0 1rem;
}
.getGPT__added__container_for_newChat{
    height: 100%;
    width: 100%;
    border-bottom: solid rgba(255, 255, 255, 0.286) 0.1px;
    margin-bottom: .4rem;
    padding-top: .3rem;
    font-size: .65rem;
}

.getGPT__footer__left__option__part ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: .4rem;
}
.getGPT__footer__left__option__part ul li {
    width: 100%;
    font-size: .65rem;
    padding:8px;
    margin-top: .2rem;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    transition: background-color 400ms;
}

.getGPT__footer__left__option__part ul li span{
    padding-right: .5rem;
}
ul li:hover{
 background-color:#60646939 ;
 transition: background-color 400ms ;
}

.getGPT__right__bodyCenter__part{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.getGPT__right__bodyCenter__part .u__container{
   max-width: 48rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20vh;
}
.getGPT__right__bodyCenter__part .u__container h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
}

.getGPT__right__bodyCenter__part .getGPT__body__center__header{
    padding-top: 4rem; 
    display: flex ;
    justify-content: center;
    align-items: center;
}
.getGPT__body__center__container{
    height: 100%;
}

.getGPT__right__bodyCenter__part .getGPT__body__center__header .head__container{
    width: 160px;
    display:flex ;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

.getGPT__right__bodyCenter__part .getGPT__body__center__header .head__container span{
    display: block;
}

.getGPT__right__bodyCenter__part .getGPT__body__center__header .head__container span:first-child{
    margin-bottom: .5rem;
}

.getGPT__right__bodyCenter__part .getGPT__body__center__header .container__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 .4rem 0 .4rem;

}

.getGPT__right__bodyCenter__part .getGPT__body__center__header .container__part p {
    text-align: center;
    padding: 0.75rem;
    margin-top: .9rem;
    background-color:  #272d34;
    border-radius: 4px;
    width: 160px;
    height: 55px;
}

.getGPT__body__center__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 49rem;
    align-items: center;
    text-align: center;
}

.getGPT__search__input {
    margin: .5rem;
    width: 95%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  #3f4955de;
    border-radius: 4px;
}

.getGPT__search__input textarea{
    border: none;
    background: none;
    margin-left: .5rem;
    padding-top: .5rem;
    color: white;
    width: 100%;
    max-height: 35px;
    resize: none;
    text-align: start;

}

.getGPT__search__input textarea:focus{
    outline: none;
}
.getGPT__search__input textarea::-webkit-scrollbar {
    width: 3px;
    border-radius: 15px;
}
.getGPT__search__input textarea::-webkit-scrollbar-track {
    background-color:  #21272e;
    border-radius: 15px;
}
.getGPT__search__input textarea::-webkit-scrollbar-thumb {
    background-color:  #eff2f7;
    border-radius: 15px;
    max-height: 30px;
}
.getGPT__search__input textarea::-webkit-scrollbar-thumb:hover {
    background-color: #292929;
}

.getGPT__search__input span {
    display: block;
    margin-right: .3rem;
    cursor: pointer;
}

.getGPT__body__center__footer p{
    margin-bottom: .5rem;
    font-size: .55rem;
    padding: 0 .7rem 0 .7rem;
}

.getGPT__body__center__footer p a{
    color: #ffffffe1;

}
.header__partOf__mobile{
    display: none;
}
.close{
    display: none;
}
@media all and (max-width:700px){
   
    .getGPT__left__nav__part{
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .getGPT__left__nav__part.mL__adaptation{
        transform: translateX(0%);
        transition: transform 0.5s;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
    }
    .close{
        position: absolute;
        top: .2rem;
        left: 0%;
        display: block;
        opacity: 0;
        pointer-events: none;
        z-index: 3;
        width: 30px;
        height: 30px;
        margin: 4px 0 0 0;
        background: rgba(255, 0, 0, 0);
        border: 2.5px solid white;
        border-radius: 4px;
        transition: left 0.5s;
        transition: opacity .2s;
        text-align: center;
    }
    .close i{
        width:100%;
        height: 100%;
        font-size: 1.5rem;
        color: white;
    }
    .close.displayClose{
        left: 45.5%;
        opacity: 1;
        pointer-events: initial;
        cursor: pointer;
        transition: left 0.5s;
    }
    .getGPT__right__bodyCenter__part.mR__adaptation{
       opacity: 0.5;
       transition: opacity 400ms;
    }
    .getGPT__right__bodyCenter__part{
        z-index: 1;
        position: fixed;
        max-height: 100vh;
        width: 100%;
        opacity: 1;
        pointer-events: initial;
        transition: opacity 00ms;
    }
    .getGPT__right__bodyCenter__part .u__container{
        width:100%;
        margin-top: 5vh;
        height: 81.2vh;
        overflow-y: scroll;
        padding: 7rem 0 0 0;
    }
    .getGPT__right__bodyCenter__part .u__container::-webkit-scrollbar {
        width: 5px;
        border-radius: 15px;
    }
    .getGPT__right__bodyCenter__part .u__container::-webkit-scrollbar-track {
        background-color:  #21272e;
        border-radius: 15px;
    }
    .getGPT__right__bodyCenter__part .u__container::-webkit-scrollbar-thumb {
        background-color:  #3f4955;
        border-radius: 15px;
        max-height: 50px;
    }
    .getGPT__right__bodyCenter__part .u__container::-webkit-scrollbar-thumb:hover {
        background-color: #707070;
    }
    .getGPT__body__center__footer{
        max-width: 100%;
        position: fixed;
        bottom: 0;
    }
    .getGPT__right__bodyCenter__part{
        height: 100%;
    }
    .getGPT__right__bodyCenter__part .u__container h1{
        padding-bottom: 2rem;
    }
    .getGPT__right__bodyCenter__part .getGPT__body__center__header{
        padding-top: 0;
        flex-direction: column;
    }
    .getGPT__right__bodyCenter__part .getGPT__body__center__header .head__container{
        margin-top: .5rem;
    }
    .getGPT__right__bodyCenter__part .getGPT__body__center__header .container__part {
        width: 100%;
        margin: 0;
    }
    .getGPT__right__bodyCenter__part .getGPT__body__center__header .container__part p{
        width: 100%;
        height: 30px;
        margin-top: .5rem;
        padding-top: 0.4rem;
    }
    .header__partOf__mobile{
        position: fixed;
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center ;
        padding: .3rem;
        background-color: #3f4955;
        border-bottom: solid rgba(255, 255, 255, 0.374) 1px;
    }
    .header__partOf__mobile i{
        font-size: 1rem;
        cursor: pointer;
    }
    .header__partOf__mobile span{
        text-align: center;
    }
    .getGPT__search__input{
        margin-top: 1px;

    }
}